@import "bg-pattern.scss";

@mixin centerThings {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas:
        '. header header .'
        '. section section .'
        '. section section .'
        '. section section .'
        '. footer footer .'
    ;
    @include bg-pattern();



    header {
        grid-area: header;
        // height: 10vh;
        @include centerThings();
        justify-content: space-between;
        margin: 0 10px;

        .logo {
            height: 40px;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: rotate(360deg);
            }
        }

    }

    section {
        grid-area: section;
        @include centerThings();
        flex-direction: column-reverse;
        padding: 0px 40px;
        .norris {
            height: 55vh;
            margin-top: 30px;
        }
        .fact-box {
           background-color: rgba(255, 255, 255, 0.6);
           border-radius: 20px;
           padding: 20px;
        }
    }

    footer {
        grid-area: footer;
        @include centerThings();
    }
}